@model Application_to_Manage_Data_for_School_Application.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.subject_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.subject_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.student_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
