@model IEnumerable<Application_to_Manage_Data_for_School_Application.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subject_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.class_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.class_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.class_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.class_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.subject_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.subject_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.subject_id })
        </td>
    </tr>
}

</table>
